.imagem-sobre{
    position: absolute;
    z-index: -200;
    top: 20%;
    left: -5%;
}

.imagem-sobre svg{
    height: 25vh;
    width: 70vw;
    opacity: 0.2;
}

.texto-sobre{   
    position: absolute;
    z-index: -100;
    left: 4%;
    top: 15%;
    width: 20rem;
    font-style: normal;
    font-size: 0.7rem;
    line-height: 25px;    
}

.botão {
    position: absolute;
    top: 85%;
    left: 4%;
}

.botão svg{
    height: 1rem;
    width: 4rem;
}

/*Responsividade*/
@media (min-width: 760px){
    .imagem-sobre{
        position: absolute;
        top: 25%;
        left: 0;
        width: 1%;
        z-index: -100;
    }

    .texto-sobre{   
        position: absolute;
        left: 35%;
        top: 20%;
        width: 60%;
        font-style: normal;
        font-size: 110%;
        line-height: 1.5;
        text-align: left;    
    }

    .imagem-sobre svg{
        height: 35vh;
        width: 30vw;
        opacity: initial;
    }

    .botão {
        position: absolute;
        top: 65%;
        left: 38%;
        width: 50%;
    }

    .botão svg {
        width: 15%; 
        height: 25px;
    }
}