.Sobre{
    border-bottom: 5px solid #A22522;
}

.imagem-sobre{
    position: relative;
    top: 10.5rem;
    left: -5rem;
    width: 1%;
}

.texto-sobre{   
    position: relative;
    left: 28rem;
    top: -4rem;
    width: 800px;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;    
}

.botão {
    position: relative;
    top: -4rem;
    left: 27rem;
    width: 50%;
}