.Diretorias{
    border-bottom: 5px solid #A22522;
}

.pessoa-1{
    position: absolute;
    top: 11.25rem;
}

p1{
    position: absolute;
    top: 12rem;
    left: 15rem;
    width: 1%;
}

.pessoa1-links{
    position: absolute;
    top: 18.5rem;
    left: 12rem;
    width: 15%;
}

.pessoa-2{
    position: absolute;
    top: 11.25rem;
    left: 700px;
    width: 1%;
}

p2{
    position: absolute;
    top: 12rem;
    left: 59rem;
    width: 0%;
}

.pessoa2-links{
    position: absolute;
    top: 18.5rem;
    left: 56rem;
    width: 15%;
}