/*posicionamento e configuraçao do svg da pagina*/
.imagem-eventos{
    position: absolute;
    top: 55%;
    height: 1%;
    left: 4%;
    z-index: -1000;
}

.imagem-eventos svg{
    height: 40vh;
    width: 60vw;
}

/*posicionamento e configuraçao do iframe da pagina*/
.eventos-calendario{
    position: absolute;
    z-index: -100;
    top: 12%;
    left: 4%;
}

.eventos-calendario iframe{
    width: 90Vw;
    height: 50Vh;
}

/*Responsividade*/
@media (min-width: 760px){
    /*posicionamento e configuraçao do svg da pagina*/
    .imagem-eventos{
        position: absolute;
        z-index: -100;
        top: 15%;
        left: -5%;
        height: 1%;
    }

    .imagem-eventos svg{
        height: 50vh;
        width: 45vw;
    }

    /*posicionamento e configuraçao do iframe da pagina*/
    .eventos-calendario{
        position: absolute;
        top: 20%;
        left: 45%;
        width: 1%;
        height: 1%;
    }

    .eventos-calendario iframe{
        width: 50vw;
        height: 50vh;
    }
}