/*posicionamento e configuraçao do svg da pagina*/
.imagem-home{
    position: absolute;
    z-index: -200;
    left: -5%;
    top: 30%;
}

.imagem-home svg{
    width: 40vmax;
    height: 25vmax;
    opacity: 1;
}

/*texto da pagina*/
.texto-home{
    position: absolute;
    z-index: -10; 
    left: 15%; 
    top: 25%;
    width: 15rem;
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 1.5;
    text-align: center;
}

/*versão Desktop*/
@media (min-width: 760px){
    /*posicionamento e configuraçao do svg da pagina*/
    .imagem-home{
        position: absolute;
        z-index: 0.01;
        left: 50%;
        top: 25%;
        width: 1%;
        height: 1%;
    }

    .imagem-home svg{
        height: 20vmax;
        width: 40vmax;
        opacity: initial;
    }

    /*texto da pagina*/
    .texto-home{
        position: absolute; 
        left: 10%; 
        top: 35%;
        width: 500px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.5;
        text-align: center;
    }
}