*{
    
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
    font-family: 'Quicksand', sans-serif;
}

html{
    --bg: #ffffff;
    --color: #000000;
}

body{
    background-color: var(--bg);
}

/*checkbox do menu lateral*/
#menul,#menu_lateral{
    position: absolute;
    top: 3%;
    left: 4%;
}

label svg{
    width: 2rem;
    height: 2rem;
}

input[type="checkbox"]
{
    display: none;
}

input[type="checkbox"]:checked ~ .pages
{
    transform: translateX(27rem);
    width: 1%;
    height: 0%;
    transition: 0.45s;
}

/*Nav botões de navegação*/
.pages{
    display: inline-block;
}

.pages ul{
    display: block;
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: -30rem;
    font-size: 0.7rem;
    background-color: #a22522f5; 
    list-style: none;
}

.pages li{
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    transition: 500ms;
}

.pages li:hover {
    border-left:0.2rem solid rgb(27, 27, 27);
}

a{
    text-decoration: none;
    color: var(--color);
}

/*logo e nome Caesi*/
.Caesi img{
    display: flex;
    height: 4rem; 
    width: 6rem;
    position: absolute;
    left: 74.5%;
    top: 0.2%;
}

#logobranca {
    display: none;
}

.Caesi p{
    font-weight: bold;
    text-align: center;
    font-size: 0.7rem;
    display: block;
    position: absolute;
    top: 2%;
    left: 25%;
    transition: 500ms;
    color: var(--color);
}

/*imagem footer*/
.onda svg {
    display: flex;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

/*texto e icones footer*/
.onda p{
    display: flex;
    position: fixed; 
    bottom: 6%;
    color: var(--color);
    font-size: 70%
}

.icones-footer{
    display: flex;
    position: fixed;
    left: 3%;
    bottom: 0;
}

.icones-footer a{
    padding-right: 15px;
}

.icones-footer a svg{
    width: 2.7vmax;
    height: 2.7vmax;
    filter: rgb(0, 0, 0);
}

/*creditos*/
.creditos a{
    font-size: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: 2px 2px 1px #000000;
}

/*botões dos temas*/
#sun{
    height: 3vmax;
    width: 3vmax;
    position: fixed;
    bottom: 0.5%;
    left: 32%;
    filter: invert(100%);
}

#moon {
    height: 3vmax;
    width: 3vmax;
    position: fixed;
    bottom: 0.5%;
    left: 40%;
    filter: invert(0%);
}

/*versao Desktop*/
@media (min-width: 760px){
    body{
        background-color: var(--bg);
    }
    /*checkbox do menu lateral*/
    #menul, #menu_lateral{
        display: none;
    }

    /*Nav botões de navegação*/
    .pages ul{
        font-size: 110%;
        display: block;
        background-color: initial;
        position: absolute;
        top: 4%;
        left: 53.9%;
        list-style: none;
    }
    
    .pages li{
        display: inline;
        margin: 0.2px;
        padding: 5px;
        transition: 500ms;
    }
    
    .pages li:hover {
        border-left: initial;
        border-bottom: 5px solid #A22522;
    }

    a{
        text-decoration: none;
        color: var(--color);
    } 
    
    /*logo e nome Caesi*/
    .Caesi img{
        display: flex;
        height: 120px; 
        width: 200px;
        position: absolute;
        left: -2rem;
        top: -1rem;
    }

    #logobranca {
        display: none;
    }
    
    .Caesi p{
        font-weight: bold;
        text-align: center;
        font-size: 1.2rem;
        display: flex;
        position: absolute;
        top: 0.6rem;
        left: 8rem;
        transition: 500ms;
        color: var(--color);
    }

    /*imagem footer*/
    .onda svg {
        display: flex;
        position: fixed; 
        z-index: -200;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /*texto e icones footer*/
    .onda p{
        display: flex;
        position: fixed; 
        z-index: 0.01;
        bottom: 4%;
        font-size: 110%; 
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 1px #000000;
    }
    
    .icones-footer{
        display: flex;
        position: fixed;
        left: 0.5rem;
        bottom: 0;
    }

    .icones-footer a{
        padding-right: 30px;
    }

    .icones-footer a svg{
        width: 2vmax;
        height: 2vmax;
    }

    /*creditos*/
    .creditos a{
        font-size: 70%;
        position: fixed;
        bottom: 0;
        right: 0.5rem;
        color: rgb(255, 255, 255);
        font-style: italic;
        text-shadow: 2px 2px 1px #000000;
    }

    /*botões dos temas*/
    #sun{
        height: 3vmax;
        width: 3vmax;
        position: fixed;
        bottom: 1%;
        left: 32%;
    }

    #moon {
        height: 3vmax;
        width: 3vmax;
        position: fixed;
        bottom: 1%;
        left: 40%;
    }
}