*{
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
    font-family: 'Quicksand', sans-serif;
}

/*Nav*/
.home{
    display: block;
    position: absolute;
    top: 0.9rem;
    left: 7rem;
    transition: 500ms;
}

.ImagemCaesi img{
    height: 120px; 
    width: 200px;
    position: absolute;
    left: -2rem;
    top: -1rem;
}

.home a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}

.home:hover{
    border-bottom: 5px solid #A22522;
}

.pages ul{
    display: block;
    position: absolute;
    top: 1.7rem;
    left: 38.5rem;
    font-size: 18px;
}

.pages ul{
    list-style: none;
}

.pages li{
    display: inline;
    margin: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    transition: 500ms;
}

.pages li:hover {
    border-bottom: 5px solid #A22522;
}

a{
    text-decoration: none;
    color: black;
} 

/*footer*/
p3{
    position: absolute; 
    top: 35rem; 
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px black;
}

.icones-footer{
    position: absolute;
    left: 0.5rem;
    top: 37.4rem;
    padding-top: 0.2rem;
}

.onda svg {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
}

.icones-footer svg{
    box-shadow: 0px 0px 1px black;
}