.imagem-sobre{
    position: relative;
    top: 170px;
    left: -80px;
    width: 1%;
}

.texto-sobre{   
    position: relative;
    left: 450px;
    top: -70px;
    width: 800px;
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
    line-height: 25px;    
}

.botão {
    position: relative;
    top: -70px;
    left: 450px;
    width: 50%;
}