.pessoa-1{
    position: relative;
    top: 200px;
}

p1{
    position: relative;
    top: 40px;
    left: 200px;
    width: 1%;
}

.pessoa1-links{
    position: relative;
    top: 60px;
    left: 190px;
    width: 15%;
}

.pessoa-2{
    position: relative;
    top: -95px;
    left: 700px;
    width: 1%;
}

p2{
    position: relative;
    top: -255px;
    left: 900px;
    width: 0%;
}

.pessoa2-links{
    position: relative;
    top: -235px;
    left: 900px;
    width: 15%;
}