.Eventos{
    border-bottom: 5px solid #A22522;
}

.imagem-eventos{
    position: relative;
    top: 90px;
    left: -90px;
    height: 1%;
}

.eventos-calendario{
    position: relative;
    top: 110px;
    left: 540px;
    width: 1%;
    height: 1%;
}