.Eventos{
    border-bottom: 5px solid #A22522;
}

.imagem-eventos{
    position: relative;
    top: 5rem;
    left: -7rem;
    height: 1%;
}

.eventos-calendario{
    position: relative;
    top: 7rem;
    left: 37rem;
    width: 1%;
    height: 1%;
}