.home{
    border-bottom: 5px solid #A22522;
}

.imagem-home{
    position: relative;
    left: 40rem;
    top: 3rem;
    width: 1%;
}

.texto-home{
    position: relative; 
    left: 2.5rem; 
    top: 13.5rem;
    width: 500px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}