*{font-family: 'Quicksand', sans-serif;}
 
/*Nav*/
.home{
    display: block;
    position: absolute;
    top: 25px;
    left: 120px;
    transition: 500ms;
}

.ImagemCaesi img{
    height: 120px; 
    width: 200px;
    position: absolute;
    left: -20px;
    top: -15px;
}

.home a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.home:hover{
    border-bottom: 5px solid #A22522;
}

.pages ul{
    display: block;
    position: absolute;
    top: 32px;
    left: 600px;
    font-size: 18px;
}

.pages ul{
    list-style: none;
}

.pages li{
    display: inline;
    margin: 15px;
    padding: 10px 10px 10px 10px;
    transition: 500ms;
}

.pages li:hover {
    border-bottom: 5px solid #A22522;
}

a{
    text-decoration: none;
    color: black;
} 

/*footer*/
p3{
    position: fixed; 
    top: 560px; 
    color: rgb(255, 255, 255);
}

p3 a {
    color: #ffffff;
    padding-right: 10px;
    padding-top: 10px;
}

.icones-footer{
    position: fixed;
    left: 10px;
    top: 600px;
    padding-top: 5px;
}

.icones-footer svg{
    padding-right: 5px;
}
