|*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body{
    background-color: white;
}

main{
    background-color: gray;
    width: 1250px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.342);
}